@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
}

.header, .hero {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
}

.logo, .hero-title, button {
    color: #F9FAF8;
    font-weight: bold;
}

.header-link {
    font-size: 18px;
}

.hero-title {
    font-size: 48px;
}

.header-link, .hero-subtext {
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border: none;
}

.information-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.information-subtext {
    color: #666;
}